@page "/category/update/{id:int}"
@using SubBoard.Blazor.Services
@using SubBoard.Domain.Entities
@inject CategoryService CategoryService
@inject NavigationManager _Nav

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-black bg-gradient py-3">
        <h2 class="text-white text-center">Update Category</h2>
    </div>

    <div class="card-body p-4">
        <EditForm Model="form" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="border p-3 mt-4">
                <div class="form-floating py-3 col-12">
                    <InputText class="form-control" @bind-Value="form.Name" id="Name" />
                    <label>Name</label>
                    <ValidationMessage For="() => form.Name" />
                </div>

                <div class="form-floating py-3 col-12">
                    <InputText class="form-control" @bind-Value="form.Icon" id="Icon" />
                    <label>Emoji</label>
                    <ValidationMessage For="() => form.Icon" />
                </div>

                <div class="d-flex gap-3 p-4">
                    <button type="submit" class="btn btn-primary" disabled="@IsProcessing">
                        <i class="bi bi-save2-fill"></i> @(IsProcessing ? "Processing..." : "Update")
                    </button>

                    <a href="/categories" class="btn btn-secondary">
                        <i class="bi bi-skip-backward-fill"></i> Back to Category
                    </a>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public int id { get; set; }

    private bool IsProcessing;
    public Category form = new Category();

    protected override async Task OnInitializedAsync()
    {
        form = await CategoryService.GetByIdAsync(id);
    }

    private async Task Submit()
    {
        IsProcessing = true;

        await CategoryService.UpdateAsync( form);

        _Nav.NavigateTo("/categories");
    }
}
